/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* ゲームエリアのスタイル */
.game-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
}

.player, .cpu {
    width: 45%;
    text-align: center;
}

.role-image {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

#turn-counter {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 役の選択部分 */
#choices {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: #f09000;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #d77e00;
}

/* 役の音声オプション */
#sound-toggle {
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
    background-color: #f09000;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

#sound-toggle:hover {
    background-color: #d77e00;
}

/* 勝敗メッセージエリア */
#center-info {
    font-size: 1.5em;
    margin-top: 20px;
}

/* ルールの表示 */
.rules-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* 背景色 */
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.rules-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.rules-container p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
}
